@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

html{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}
body{
    background-color: hsl(226, 43%, 10%);
    padding-top: 100px;
}
.container-main{
    position: relative;
    width: 90%;
    margin: 40px auto;
    height: 300px;
    border-radius: 20px;
}
.first-sec{
    border-radius: 20px;
    background-color: hsl(246, 80%, 60%);
    padding: 0 20px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70%;
    z-index: 2;
    position: absolute;
}
.first-sec .photo{
  margin-right: 22px;
} 
.first-sec .photo img{
    width: 110px;
    border-radius: 50%;
    border: rgb(255, 255, 255) 5px solid;
}
/* .first-sec .text-content-container{
    display: flex;
    justify-content: center;
    /* align-items: center; 
    flex-direction: column;
    width: 70%;

} */
.first-sec .text-content-container .main{
    font-weight: 100;
    font-size: 1rem;
    margin-bottom: 1em;
}
.text-content-container{
    font-weight: 400;
    font-size: 1.3rem;
}
.second-sec{
    padding: 0 30px;
    height: 40%;
    border-radius: 20px;
    background-color: hsl(235, 46%, 20%);
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
ul{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    list-style-type: none;
    padding-top: 35px;
    justify-content: space-between;
}
.second-sec  ul li p:hover{
    color: #ffffff;
}
.second-sec  ul li p{
    display: inline;
    color: hsl(235, 45%, 61%);
    font-size: 1.2rem;
    padding-top: 35px;
    list-style-type: none;
}

.container{
    position: relative;
    width: 90%;
    margin: 40px auto;
    height: 230px;
    border-radius: 20px;

}
.svg-sec{
    height: 40%;
    border-radius: 20px;
    padding: 0 15px;
}
.work{
    background-color: hsl(15, 100%, 70%);
}
.svg-sec img{
    float: right;
}
.text-content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    border-radius: 20px;
    height: 73%;
    background-color: hsl(235, 46%, 20%);
}
.activity-sec{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-content:hover{
    background-color: #34397b;
}
.icon:hover{
    color: white;
}
.time-sec{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.time-sec h3{
    margin-right: 60px;
}
.play{
    background-color: hsl(195, 74%, 62%);
}
.study{
    background-color: hsl(348, 100%, 68%);
}
.excercise{
    background-color: hsl(145, 58%, 55%);
}
.social{
    background-color: hsl(264, 64%, 52%);
}
.self-care{
    background-color: hsl(43, 84%, 65%);
}
.container p:hover, svg:hover{
    color: #ffffff;
}
.container p{
    font-size: 1rem;
    color: hsl(235, 45%, 61%);
}
h2{
    font-size: 1rem;
    font-weight: 400;
}
h3{
    font-size: 2rem;
    font-weight: 50;
}


@media screen and (min-width: 1440px) {
    .wrapper{
        padding: 0;
    
        width: 1300px;
        height: 530px;
        margin: auto;
        display: flex;
    }
    .container-main{
        position: relative;
        width: 25%;
        height: 100%;
        margin: 0 30px 0 0;
        border-radius: 20px;
     
    }
    .act{
  
        width: 70%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
    }
    .container{
        margin: 0 20px 20px 0;
        height: 48%;
        width: 30%;
    }
    .svg-sec{
        height: 40%;
    }
    .text-content{
        height: 80%;
        padding: 30px 30px 20px 30px;
    }
    .first-sec{
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 30px;
    }
    .time-sec{
        flex-direction: column;
        align-items: flex-start;
        height: 50%;
    }
    .second-sec {
        padding-top: 30px;
    }
    .second-sec ul{
        flex-direction: column;
        justify-content: space-around;
    }
}